body{
    background-color: #999999;
}
.section{
    background-color: #f5f5f5;
}

.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;

}

.lead{
    font-size: 40px;
    border-bottom: 1.5px solid #ff8b38;
    margin-top: 62px;
    padding-bottom: 20px;
}
.Basic{
    display: flex;
    justify-content:center;
    text-align: center;
}

.Basic_1{
    background-color: #333333;
    color: #ffffff;
    padding: 18px;
    width: 371px;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;

}
.money{
    background-color: #333333;
    color: #ffffff;
    font-size: 50px;
    padding: 20px;
    width: 367px;
    border-bottom: 1px solid #FFFFFF;
}
.Free{
    background-color: #333333;
    color: #808080;
    padding: 20px;
    width: 367px;
    border-bottom: 5px solid #ff8b38;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.column{
    list-style: none;
    background-color: #FFFFFF;
    padding: inherit;
    margin: 60px;

}

.col{
    padding: 15px;
    border-bottom: 1.5px solid #f5f5f5 ;
}

.Professional{
    list-style: none;
    background-color: #FFFFFF;
    padding: inherit;
}

.Professional_Pro{
    background-color: #333333;
    color: #ffffff;
    padding: 18px;
    width: 371px;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.money{
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    width: 367px;
    border-bottom: 1px solid #FFFFFF;
}

.Monthly{
    background-color: #333333;
    color: #808080;
    padding: 20px;
    width: 367px;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.Most_popular{
    background-color: #ff8b38;
    font-family: 'Cabin', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 15px;
    color: #FFFFFF;

}
.Monthly{
    background-color: #333333;
    color: #808080;
    padding: 20px;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.Most_popular{
    background-color: #ff8b38;
    font-family: 'Cabin', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 15px;
    color: #FFFFFF;

}

.Enterprise{
    list-style: none;
    margin: 60px;
    background-color: #FFFFFF;
    padding: inherit;
    width: 400px;
}

.Enterprise_Pro{
    background-color: #333333;
    color: #ffffff;
    padding: 18px;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.Monthly_Payment{
    background-color: #333333;
    color: #808080;
    padding: 20px;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    border-bottom: 5px solid #ff8b38;


}